 <div class="footer">
    <ul>
        <li>
            <a href="https://github.com/alexander101010" target="_blank">
                <i class="fab fa-github-square"></i></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/alex-botwinick-0ba63831/">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cat"></i>
            </a>
        </li>
    </ul>
</div>
