<div class="projects">
  <h3>Projects!</h3>
  <% @projects.each do |project| %>
  <div class="project-card">
    
    <h5><%= project.title %></h5>
    <h6><%= project.description %></h6>
    
  </div>
  <% end %>
</div>
