<div class="container mt-5">
  <h2>Add a New Project</h2>
  <%= simple_form_for(@project, method: :post) do |f| %>
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.submit "Add Project", class: "btn btn-success" %>
  <% end %>
</div>
